<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="home step1 color3 line2">
    <img src="/images/03.jpg" alt="">
    <div class="desc">
        <div class="line">这一年</div>
        <div class="line">你外出公干<%=outDay%>天，到过<%=outAddr%></div>
        <div class="line">出国<%=abroadDay%>天,到过<%=abroadAddr%></div>
        <div class="line">集体外出公干<%=jtDay%>天，到过<%=jdAddr%></div>
        <div class="line">沿途风景变换</div>
        <div class="line">坚守<span class="w">初心</span>不改</div>
    </div>
    <div class="array">
      <img src="/images/arr.png" alt="">
    </div>
  </body>
</html>
